<html>
    <head>
        <title>sample app | login</title>
    </head>

    <body>
            <h1>login</h1>
            <form action="localhost:8080" method="post">
                <p>userId:<input type="text" name="userId" id="userId" ></p>
                <p>password:<input type="text" name="userPass" id="Userpass"></p>
                <p><input type="submit" name="commit" value="ログイン"></p>
            </form>
            
            <form action="localhost:8080/signup" method="get">
                <p><input type="submit" name="signup" value="新規登録"></p>
            </form>
    </body>
</html>